{% extends "base.html" %}

{% block content %}

    <h1>API Examples</h1>
    <h2>ST2 SensorThings</h2>
    {% for message, href in st2_examples  %}
        <div class="api-example">
            {{ message }}<br/>
            <a href="{{ href }}">
                <code>
                    {{ href }}
                </code>
            </a>
        </div>
    {% endfor %}
    <div>
        For more query option examples see <a href="https://developers.sensorup.com/docs/#queryparameters">ST docs</a>
    </div>

    <h2>CoCoRaHS Examples</h2>
    {% for message, href in cocorahs_examples %}
        <div class="api-example">
            {{ message }}<br />
            <a href="{{ href }}"
                <code>
                    {{ href }}
                </code>
            </a>
        </div>
    {% endfor %}
    <div>
        For more query options see the <a href="https://data.cocorahs.org/cocorahs/Export/ExportManager.aspx">data export manager</a>.
    </div>


    
{% endblock %}